<div class="about">
  <section>
    <header><h2>German for Developers</h2></header>
    <p>
      I'm a native english-speaker. Even though it's pretty easy to find jobs
      in Germany that only require English, I like to work in German as much
      as possible. I studied up to C1 in a languge school before I got my
      first job. At the end, I came out with fairly decent German but it
      didn't prepare me for the challenge of talking about software
      development.
    </p>
    <p>
      When trying to use German to work as a programmer, understanding when to
      use the English word and when to use the German equivalent is a
      minefield. If you decide to use the English version, the next challenge
      will be how to make it sound German (eindeutschen).
    </p>
    <p>
      Nouns have to be given a gender and a plural form. Verbs have to be
      conjugated.
    </p>
  </section>

  <section>
    <header><h2>Contribute</h2></header>
    <p>
      The gender and conjugation of these words are not always fixed so I have
      provided the onces I come across while working in Berlin.
    </p>
    <p>
      Pull Requests to add alternatives are welcomed, or create an issue to
      request something you don't know the answer to.
    </p>
  </section>
</div>
