<div class="verb-container">

  <img class="flag" src="/assets/de.svg" />
  <div class="infinitive">{{ verb.infinitive }}</div>

  <div class="label">ich</div>
  <div>{{ verb.ich }}</div>

  <div class="label">du</div>
  <div>{{ verb.du }}</div>

  <div class="label">er/sie</div>
  <div>{{ verb.erSie }}</div>

  <div class="label">ihr</div>
  <div>{{ verb.ihr }}</div>

  <div class="label">wir</div>
  <div>{{ verb.infinitive }}</div>

  <div class="label">Sie</div>
  <div>{{ verb.infinitive }}</div>

  <div class="label">({{ verb.helperVerb }})</div>
  <div>{{ verb.partizip2}}</div>
</div>
